# This is an example vf-snapshots.yml file.
# The actual file should reside at /etc/vf-snapshots.yml

# email options are sent directly to the Pony gem (https://github.com/benprew/pony)
:mail:
  :from: someone@somewhere.com
  :recipients: jon@jms-audioware.com,someoneelse@somewhereelse.com
  :via: :smtp [ or :sendmail ]
  :via_options:
    :address: 'smtp.yourserver.com'
    :port: '25'
    :user_name: 'user'
    :password: 'password'
    :authentication: :plain # :plain, :login, :cram_md5, no auth by default
    :domain: "localhost.localdomain" # the HELO domain provided by the client to the server

:aws_accounts:
  'My Cool AWS Account':
    :access_key_id: '00000000000000000000'
    :secret_access_key: '0000000000000000000000000000000000000000'

